<div id="main">
	<h1>Survey</h1>

	<p>Onderstaande vragen zijn gebaseerd op het fictieve gebruik van de app Quietude, welke was te zien in het voorgaande filmpje. De resultaten worden anoniem opgeslagen en zal alleen voor onderzoek worden gebruikt.</p>
	<form name="prototypeSurvey" ng-submit="submitPrototypeSurvey()" class="cf">
		<p>De vogel zou mij motiveren om mijn slaapritme aan te passen.</p>
		<p class="message" ng-show="prototypeSurvey.q1.$error.required && submitted">Gelieve deze vraag te beantwoorden.</p>
		<likert name="q1" ng-required="true" ng-model="prototypeSurveyAnswers.q1"></likert>
		
		<p>Het verzorgen van de vogel zou mij motiveren om de applicatie vaker te gebruiken.</p>
		<p class="message" ng-show="prototypeSurvey.q2.$error.required && submitted">Gelieve deze vraag te beantwoorden.</p>
		<likert name="q2" ng-required="true" ng-model="prototypeSurveyAnswers.q2"></likert>
		
		<p>De vogel maakt de app leuker om te gebruiken voor mij.</p>
		<p class="message" ng-show="prototypeSurvey.q3.$error.required && submitted">Gelieve deze vraag te beantwoorden.</p>
		<likert name="q3" ng-required="true" ng-model="prototypeSurveyAnswers.q3"></likert>
		
		<input type="submit" value="Afronden" />
	</form>
</div>