/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1; }

* {
  box-sizing: border-box; }

body {
  background-color: #EEE;
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif; }

h1 {
  color: #43C3D1; }

a {
  text-decoration: none; }

p {
  line-height: 150%; }

video {
  margin: 20px 0; }

.message {
  padding: 10px;
  color: #FFF;
  background-color: #B71C1C;
  border-radius: 5px; }

#header {
  position: relative;
  background-color: #43C3D1;
  padding: 20px;
  color: #FFF;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); }
  #header a {
    color: #FFF; }
  #header .progress {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #22818c; }

#main {
  clear: both;
  max-width: 800px;
  background-color: #FFF;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); }

.button, input[type="submit"], input[type="button"], .answer {
  display: block;
  padding: 20px;
  background-color: #43C3D1;
  color: #FFF;
  text-align: center;
  font-weight: bold;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color .2s;
  border: none; }
  .button:hover, input[type="submit"]:hover, input[type="button"]:hover, .answer:hover {
    background-color: #6cd0db; }

.clear {
  clear: both; }

.question {
  text-align: center; }

.answer {
  margin: 1%;
  width: 48%;
  float: left;
  text-transform: capitalize; }

.counter-container {
  float: right;
  font-weight: bold;
  text-align: center; }
  .counter-container > div {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 2px; }
    .counter-container > div span {
      font-size: 2em;
      display: block;
      color: #FFF; }

.correct-counter {
  background-color: #4CAF50;
  color: #2d682f;
  margin-right: 5px; }

.wrong-counter {
  background-color: #B71C1C;
  color: #5f0e0e; }

h1 {
  overflow: hidden; }

.feedback-container {
  max-width: 800px;
  margin: 0 auto; }
  .feedback-container p {
    background-color: #E8B878;
    padding: 30px;
    border-radius: 100px;
    color: #FFF;
    font-size: 18px;
    display: inline-block;
    width: 50%; }
  .feedback-container img {
    width: 40%;
    vertical-align: middle; }

#stop-quiz {
  display: inline-block;
  clear: both;
  float: right;
  background-color: #888; }

.likert-container {
  width: 100%;
  margin-bottom: 20px; }
  .likert-container .likert-option {
    width: 20%;
    float: left;
    text-align: center;
    font-size: 12px; }
    .likert-container .likert-option input {
      display: block;
      margin: 5px auto; }

/*# sourceMappingURL=main.css.map */
