<div id="main">
	<h1>Home</h1>

	<p>Welkom, en alvast bedankt dat je wilt meewerken aan dit onderzoek naar de effecten van feedback in een spel. Als je op 'Start quiz' klikt, komt er een algemene kennisvraag in beeld met vier antwoorden. Bij het klikken op een antwoord staat er of het antwoord goed of fout is en komt de volgende vraag in beeld. Wanneer je geen zin meer hebt om meer vragen te beantwoorden, kan je op "Stop de quiz" klikken om de quiz te stoppen. Na de quiz is er een korte vragenlijst voor het onderzoek.</p>
	<p>Succes!</p>

	<a ui-sref="quiz" class="button">Start quiz</a>
</div>