<div id="main">
	<h1>Start</h1>

	<p>Welkom, en alvast bedankt dat je wilt meewerken aan dit onderzoek naar de effecten van feedback in een spel. Als je op 'Start quiz' klikt, komt er een algemene kennisvraag in beeld met vier antwoorden. Wanneer je klikt op een antwoord, krijg je feedback over het antwoord wat je hebt gegeven en kan je door naar de volgende vraag. Het onderzoek bestaat uit vier delen:</p>
	<ol>
		<li>Een multiplechoice quiz (10 vragen)</li>
		<li>Een vragenlijst over voorgaande quiz (3 vragen)</li>
		<li>Een filmpje over een product</li>
		<li>Een vragenlijst over voorgaand product</li>
	</ol>
	<p>Succes!</p>

	<a ui-sref="quiz" class="button">Start quiz</a>
</div>