.question {
	text-align: center;
}

.answer {
	@extend .button;
	margin: 1%;
	width: 48%;
	float: left;
	text-transform: capitalize;
}

.counter-container {
	float: right;
	font-weight: bold;
	text-align: center;
	> div {
		display: inline-block;
		padding: 5px 10px;
		border-radius: 2px;
		span {
			font-size: 2em;
			display: block;
			color: $white;
		}
	}
}
.correct-counter {
	background-color: $green;
	color: darken($green, 20%);
	margin-right: 5px;
}
.wrong-counter {
	background-color: $red;
	color: darken($red, 20%);
}

h1 {
	overflow: hidden;
}

.feedback-container {
	max-width: 800px;
	margin: 0 auto;
	p {
		background-color: #E8B878;
		padding: 30px;
		border-radius: 100px;
		color: #FFF;
		font-size: 18px;
		display: inline-block;
		width: 50%;
	}
	img {
		width: 40%;
		vertical-align: middle;
	}
}

#stop-quiz {
	display: inline-block;
	clear: both;
	float: right;
	background-color: #888;
}